/* Write your CSS here */
.button {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  height: 40px;
  border: none;
  background-color: red;
  color: white;
  margin-right: 10px;
}
.edit-button {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  height: 40px;
  border: none;
  background-color: rgb(121, 121, 205);
  color: white;
  margin-right: 10px;
}
.save-button {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  height: 40px;
  border: none;
  background-color: green;
  color: white;
  margin-right: 10px;
}
.title {
  margin-right: 30px;
}
.titleSet {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
  width: 100%;
  margin-bottom: 10px;
}
.editInput {
  width: 100%;
  padding: 5px;
  border: 2px solid green;
  border-radius: 5px;
}

@media (max-width: 768px) {
}
